<section id='records'>
  <%= render 'records' %>
</section>
<aside id='actions'>
  <%= render 'actions' %>
</aside>
<%= render '/refinery/admin/make_sortable', :tree => false if !searching? and ::Refinery::LocationExplorer::Admin::LocationsController.sortable? and ::Refinery::LocationExplorer::Location.count > 1 %>
